/*
Author: Arianne Garcie, Maria Helena Chin
Student style
*/
/* 
    Created on : Apr 23, 2015, 10:01:59 AM
*/
body{
        
        text-decoration: none;
        color:black;
}
#content{
    
    margin:auto;
    background: grey;
    width: 90%;
    height: auto;

}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

li {
    display: inline;
}

#divcontent{
    background: white;
    width: 60%;
    padding:30px;
    margin: auto;
    height: 70%;
    padding-top:50px;
    
}

.image{
    padding:20px;
    margin: auto;
    text-align: center;
    width:220px;
    
}

#tableblock tr,#tableblock td, #tableInternational tr,#tableInternational td{
    border: solid 2px;
    border-color:black;
}

#tableblock table{
    border: solid 2px;
    border-color:black;

}

